.perfil{
  background-color: #fff;
  border-bottom: 2px rgb(220, 220, 220) solid;}

.perfil-info{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  top: -100px
}

.perfil-info img{
  margin: 30px;
  position: relative;
  height: 120px;
  border-radius: 50%;
  border: 2px solid rgb(158, 158, 158);
  padding: 2px;
}

.perfil-info span{
  color: rgb(70, 70, 70);
}

.perfil-info h2{
  color: black;
  font-weight: bold;
}