.App {
  text-align: center;
  border: 2px solid rgb(220, 220, 220);
  max-width: 600px;
  max-height: 350px;
  margin: auto;
}

.perfil-container{
  background-color: rgb(240, 240, 240);
  border-bottom: 2px rgb(220, 220, 220) solid;
  width: 100%;
  height: 100px;
  overflow: hidden;
}