body{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.App {
  border-radius: 10px;
  border: 2px solid grey;
  display: block;
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 320px;
}

.button-group{
  margin: 10px auto;
  width: 70%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}